.o3
{
    width: 100%;
    max-height: 180dvh;
    height: 180dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   background-color: #0f0f0f; 
}
.k3
{
    width: 100%;
    max-width: 1100px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big-txt3
{
    font-size: 48px;  color: transparent;
    background-image: radial-gradient(circle farthest-side at 45%, #ffffff, rgba(255, 255, 255, 0.43));
    background-clip: text;
    text-align: center;
    line-height: 1.1;
}
.small-txt3
{
    font-size: 20px;
  color: transparent;
    background-image: radial-gradient(circle, rgba(255, 255, 255, .9), rgba(255, 255, 255, .45));
  text-align: center;
    background-clip: text;
    margin-top: 15px;
}
.main3
{
    width: 100%;
    max-width: 1100px;
    height: 90%;
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.na-txt3
{
    height: 15%;
    width: 100%;
}
.top3
{
    background-color: #0c0c0c;
    border: 1px solid rgba(39, 41, 43, .7);
    border-radius: 40px;
    height:34%;
    width: 100%;
    box-shadow: 0 0 44px rgba(101,101,101,.06);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.middle3
{
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 49%;
}
.left3
{
    width: 49%;
    height: 100%;
    background-color: #0c0c0c;
    border: 1px solid rgba(39, 41, 43, .7);
    border-radius: 40px;
    box-shadow: 0 0 44px rgba(101,101,101,.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.right3
{
    width: 49%;
    height: 100%;
    background-color: #0c0c0c;
    border: 1px solid rgba(39, 41, 43, .7);
    border-radius: 40px;
    box-shadow: 0 0 44px rgba(101,101,101,.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bottom3
{
    width: 100%;
    max-width: 1100px;
    height: 14%;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
}
.kwa3
{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9996;
    padding-right: 5px;
    border-radius: 40px;
}
.small-txt33
{
    font-size: 16px;
    margin-left: 10px;
font-weight: 500;
}
.span-edit3
{
    color: #cccccc;
}
.left33
{
    width: 50%;
    height: 100%;
display: flex;
  flex-direction: column;
align-items: flex-start;
justify-content: center;
    padding: 20px;
    background-color: red;
}
.right33
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.foto3
{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.top33
{
    height: 40%;
    width: 100%;
    padding-left: 20px;
align-items: flex-start;
display: flex;
padding-top: 60px;
flex-direction: column;
}
.big-txt333
{
    font-size: 28px;  color: transparent;
    background-image: radial-gradient(circle farthest-side at 45%, #ffffff, rgba(255, 255, 255, 0.43));
    background-clip: text;
    text-align: center;
    line-height: 1.1;
}
.small-txt333
{
    font-size: 16px;  color: transparent;
    background-image: radial-gradient(circle farthest-side at 45%, #ffffff, rgba(255, 255, 255, 0.43));
    background-clip: text;
    line-height: 1.1;
    margin-top: 20px;
}

.foto33
{
    width: 100%;
    height:55%;
 
}
@media (min-height:400px) and (max-height: 800px) {
.o3{
    max-height: 250dvh;
    height: 250dvh;
}
.k3
{
    height: 95%;
}
}
@media only screen and (max-width:1100px) {
.k3
{
    width: 90%;
}
}
@media only screen and (max-width:768px) {
.o3
{
    height: 260dvh;
    max-height: 260dvh;
}
.left3{
    width: 80%;
    height: 49%;

}
.right3
{
    width: 80%;
    height: 49%;
} .left33
{
    display: none;
} 
.top3
{
 height: 24%;
 width: 80%;
}
.middle3
{
    flex-direction: column;
    height: 49%;
}
.bottom3
{
    height: 25%;
    flex-direction: column;
    width: 80%;
}
.kwa3
{
    width: 100%;
    height: 33%;
    padding: 0px;
}
.foto3
{
    width: 100%;
    height: 100%;
    margin-top: 120px;
}
.right33
{
    width: 100%;
    height: 90%;
}

}
@media only screen and (max-width:555px) {
.right3,
.left3,
.top3
{
width: 100%;
}
.bottom3
{
    width: 100%;
    padding-left: 30px;
}
.big-txt3
{
    font-size: 32px;
}
.small-txt3
{
    font-size: 17px;
}
.big-txt333
{
    font-size: 23px;
}
.small-txt333
{
    font-size: 15px;
}
.small-txt33
{
    font-size: 15px;
    
}
.na-txt3
{
    height: 10%;
}
}